@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
.content h2 {
    margin-top: 40px;
}


/*.content a {
    box-shadow: inset 0 -4px 0 #d23838;
}
*/

body {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 2.5em;
}